<a href="https://colab.research.google.com/github/shoaibimt/python_basics/blob/main/Python_tutorial_BIF_DD_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**BIF DD Workshop 2024** <br>

- **Instructor:** Dr. Mohd. Shoaib Khan
- **Target audience**: BIF DD 2024 Participants

**Introduction to Python programming**

![jpeg-optimizer_Python-logo-notext.svg.jpg]()

**What is Python**<br>
Python is a dynamic, interpreted general-purpose programming language originally established by Guido van Rossum in 1991. <br>
It is a powerful language that supports numerous common programming paradigms:<br>
* Procedural<br>
* Functional,<br>
* Object-oriented.<br>

---

Python is widely used in bioinformatics, scientific computing, academia, and industry. It is available on all major operating systems.<br>
* Mac <br>
* Windows <br>
* Linux <br>

**How to run Python commands/scripts?**<br>
Python is an interpreted language, which means that your computer does not run Python code natively, but rather we use the Python interpreter.<br>
There are three ways to run Python code- <br>

* Directly entering commands into the interpreter: Good for experimenting with the language and doing some interactive work. <br>
* Using a Jupyter Notebook: Excellent for experimenting with the language, sharing, and learning. <br>
* Entering code into a file and instructing the interpreter to execute the code from that file: Ideal for larger programs and running the same code repeatedly. <br>

**One of the most commonly used function in python is "print"**

In [ ]:
print("Hello from Shoaib!")

In [ ]:
help(print)

In [ ]:
print("The number:", 42)

In [ ]:
serine = "TCA"
print(serine, "codes for serine")
serine = "TCG"
print("as does", serine)

#**Data types in Python**

**Simple data types**<br>
Different kinds of data are handled differently by Python (and computers in general). There are four primary basic data types in Python. Types are helpful for limiting some operations to a particular class of variables. They are-

* **Integers,** <br>
* **Floats,** <br>
* **Strings** <br>
* **and Booleans**

**Integers**<br>
Integers represent whole numbers, as used when counting items, and can be positive or negative.

In [ ]:
a = 10
b = 25
print(a, b)

**Floats** <br>
Numerical values that are expressed in the decimal system, such as 10.2, 55.78, -0.003, etc., are known as floating point numbers, or simply floats. While the number 6 without the decimal point will be interpreted as an integer, the value 6.0 would likewise be interpreted as a floating point number.

In [ ]:
x = 10.26
y = -29.98
print(x * y)

In [ ]:
m = 1.6e4
n = 6e-3
print(m)
print(n)

**Strings** <br>
Text is represented by strings, which are "strings" of characters. Single quotes ' ' or double quotes "" can be used to delimit them, but you use the same delimiter on both ends.

In [ ]:
s = "ATGTCGTCTACAACACT"
t = 'Serine'
u = "It's a string with apostrophes"
v = """A string that extends
over multiple lines"""
print(v)

**Input from user**

In [9]:
x= input(" Enter the text here: \n")
print("You typed", x)

 Enter the text here:
ok
You typed ok

In [11]:
num= int(input("Enter some integer number here \n"))
print ("The integer typed is-",  num)

Enter some integer number here
56
The integer typed is- 56

**Booleans**<br>
Boolean values reflect truth or false in logical procedures, for example. As one might expect, there are just two values: **True** and **False** in Python.

In [ ]:
a = True
b = False
print(a, b)

**Python type casting** <br>
It is a process of converting a variable from one data type to another.

In [14]:
num = 3.9
num_int1 = int(num)  # Result: 3 (truncates the decimal part)

# From string to int
num_str = "42"
num_int = int(num_str)
num_int1

3

**The None object**<br>
The None object is a particular built-in value that represents emptiness or the state of being undefined. For example, it can be used to indicate that a variable exists but has yet to be assigned a specific value.

**Object type**<br>You can use the type function to see what type Python believes an expression is, which you can call with the term type immediately followed by parentheses enclosing the expression you want to check (either a variable or a value), for example, type(10).

In [ ]:
c = True
print(c, "is of", type(c))

True is of <class 'bool'>

In [ ]:
x = 19.234
print(x, "is of", type(x))

19.234 is of <class 'float'>

In [ ]:
t = "ATGTCGTCTACAATCCATTAC"
print(t, "is of", type(t))

ATGTCGTCTACAATCCATTAC is of <class 'str'>

**Comments** <br>
It is frequently convenient to annotate your code while building a program to remind yourself of what you were (intentionally) having it do. These annotations are referred to as comments in programming. In Python, you may add a comment by using the # character to precede some text.

In [ ]:
print("Hello") # this line will not be ignored
print("Good Bye")
# print ("Never seen")  # This line will be ignored

#**Operators**

**Assignment operator**

In [ ]:
x= 5  # value of 5 being assigned to a variable x
print(x)

5

In [ ]:
# "x=5" and "x== 5" are two differnt things

x=5
x==5

True

**Arithmetic Operators**<br>
Python supports all common arithmetic operations on numerical types, and its syntax is essentially identical to that of several other computer languages.

In [ ]:
x = 9
y = 2

print('x', x, 'y', y)
print('addition x + y =', x + y)  # addition
print('subtraction x - y =', x - y)  # subtraction
print('multiplication x * y =', x * y) # multiplication
print('division x / y =', x / y)  # division
print('floored division x // y =', x // y) # floor division
print('modulus (remainder of x/y) x % y =', x % y) # modulus
print('exponentiation x ** y =', x ** y) #exponentiation

x 9 y 2
addition x + y = 11
subtraction x - y = 7
multiplication x * y = 18
division x / y = 4.5
floored division x // y = 4
modulus (remainder of x/y) x % y = 1
exponentiation x ** y = 81

**Binding of Operators**<br>
Binding determines the order of the computation. <br>

*  Most python operators are **left-sided binding**, which means calculation is conducted from left to right.

In [ ]:
print(9 % 6 % 2)

**Note- For exponentiation, python follows right-sided binding**

In [ ]:
print(2**2**3) # equivalent to 2**(2**3)

256

**Operators and parentheses**<br>
* Sub-expressions in parentheses are always calculated first.

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

**Concatenation**

In [ ]:
print('Number ' + str(6))

Number 6

#**Python data Structures**

#**Strings**

**Strings** <br>
A string is a sequence of characters enclosed within single quotes (') or double quotes ("). <br>

Key Features:<br>
*  Immutable (cannot be changed after creation). <br>
*  Can include letters, numbers, and special characters.

In [ ]:
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be  a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying BIF DD 2024 Workshop"
print(sentence)

**String manipulations** <br>
Strings behave similarly to character, tuples, and individual characters and substrings can be retrieved and edited using the same techniques described above.

In [ ]:
# Indexing and slicing of the string
text = "ATGTCATTTGT"
print("first element of the string is:", text[0]) # A
print("2nd element of the string is:", text[1]) # T
print("2nd element form the right is:", text[-2]) # G
print("indexing without skipping is:", text[0:6]) # This is slicing of a string. Here it starts at zero index and up to 6 but not include 6
print("indexing with skipping is:", text[0:6:2]) # This is slicing of a string but with a skip of 1 i.e, go to next 2nd, skipping one
print("Is ATG present in the string?:", "ATG" in text) # checking whether a particular substring present in a given string (True or False)
print("Is TGA present in the string?:", "TGA" in text) #(True or False)
print("The length is the string text is:", len(text)) # gives the length of the string

first element of the string is: A
2nd element of the string is: T
2nd element form the right is: G
indexing without skipping is: ATGTCA
indexing with skipping is: AGC
Is ATG present in the string?: True
Is TGA present in the string?: False
The length is the string text is: 11

In [ ]:
# finding sub-strings
dna = "ATGTCACCGTTT"
index = dna.find("TCA") # finding the position of the 1st letter of the substring in a given string (Here, the index of T)
print("TCA is at position:", index)
index = dna.rfind('C') # searches for the last "C".
print("The last Cytosine is at position:", index)
print("Position of a stop codon:", dna.find("TGA"))

TCA is at position: 3
The last Cytosine is at position: 7
Position of a stop codon: -1

When we are reading text from files, often there is unwanted whitespace at the start or end of the string. <br>
We can remove leading whitespace with the **.lstrip()** method, trailing whitespace with **.rstrip()**, and whitespace from both ends with **.strip()**. <br>

All of these methods return a copy of the changed string, so if you want to replace the original you can assign the result of the method call to the original variable.

In [ ]:
s_start = "    Chromosome sequence start                     "
print("The string with white spaces at start and end is-",  s_start, "with length:", len(s_start))

s_start = s_start.lstrip()
print("The new string after removing white spaces from start is-",  s_start, "with length:", len(s_start))

s_start = s_start.rstrip()
print("The new string after removing white trailing spaces is-",  s_start, "with length:", len(s_start))

s_end = "    Chromosome sequence End                     "
s_end = s_end.strip()
print("The new string after removing white spaces from end is-",  s_start, "with length:", len(s_end))

You can split a string into a list of substrings using the .split() method, supplying the delimiter as an argument to the method. If you don't supply any delimiter the method will split the string on whitespace by default (which is very often what you want!)<br>

To split a string into its component characters you can simply cast the string to a list

In [ ]:
seq = "ATG TCA CCG GGC"
codons = seq.split(" ")
print(codons)

bases = list(seq) # a tuple of character converted into a list
print(bases)

['ATG', 'TCA', 'CCG', 'GGC']
['A', 'T', 'G', ' ', 'T', 'C', 'A', ' ', 'C', 'C', 'G', ' ', 'G', 'G', 'C']

#**Lists**

**Lists**
* Can contain any number of items
* Can contain different types of items
* Can be altered once created (they are mutable)
* Items have a particular order
* Lists are created with square brackets [  ] around their items:

In [ ]:
Fruits = ['banana', 'orange', 'mango', 'lemon']        # list of fruits
Subjects = ['Science', 'Maths', 'Arts', 'English']     # list of subjects
Countries = ['India', 'Finland', 'Estonia', 'Denmark', 'Sweden']     # list of countries

In [ ]:
# Print the lists and it length
print('Fruits:', Fruits)
print('Number of fruits:', len(Fruits))
print('Countries:', Countries)
print('Number of Countries:', len(Countries))

Fruits: ['banana', 'orange', 'mango', 'lemon']
Number of fruits: 4
Countries: ['India', 'Finland', 'Estonia', 'Denmark', 'Sweden']
Number of Countries: 5

In [ ]:
# Acessing the items in the list

first_fruit = Fruits[0] # we are accessing the first item using its index
print(first_fruit)      # banana

banana

In [ ]:
# Slicing items
Fruits = ['banana', 'orange', 'mango', 'lemon']
all_fruits = Fruits[0:4] # it returns all the fruits
print(all_fruits)

['banana', 'orange', 'mango', 'lemon']

In [ ]:
# Modifying the list
Fruits = ['banana', 'orange', 'mango', 'lemon']
Fruits[0] = 'Apple'
print(Fruits)

['Apple', 'orange', 'mango', 'lemon']

In [ ]:
# Appending a list
Fruits = ['apple', 'banana', 'orange', 'mango', 'lemon']
Fruits.append('Avocado') # will be added at the last of the list
print(Fruits)

['apple', 'banana', 'orange', 'mango', 'lemon', 'Avocado']

In [ ]:
# remove an item from the list
Fruits = ['banana', 'orange', 'mango', 'lemon']
Fruits.remove('banana')
print(Fruits)  # ['orange', 'mango', 'lemon']
Fruits.remove('lemon')
print(Fruits)  # ['orange', 'mango']

['orange', 'mango', 'lemon']
['orange', 'mango']

In [ ]:
# pop remove the last item from the list
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.pop()
print(fruits)       # ['banana', 'orange', 'mango']

['banana', 'orange', 'mango']

In [ ]:
# copying the list
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits_copy = fruits.copy()
print(fruits_copy)       # ['banana', 'orange', 'mango', 'lemon']

['banana', 'orange', 'mango', 'lemon']

In [ ]:
# sorting the list
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)

['banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana']

#**Tuples**

**Tuples** <br>

*   Can contain any number of items <br>
*   Can contain different types of items <br>
*   Cannot be altered once created (they are immutable) <br>
*    Items have a defined order <br>
A tuple is created by using round brackets around the items it contains, with commas seperating the individual elements.

In [ ]:
a = (10, 12, 35) # tuple of 4 integers
b = () # empty tuple
c = ("Trp",) # tuple of a single string (note the trailing ",")
d = (5, 8, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

(10, 12, 35)
()
('Trp',)
(5, 8, False, 'Arg', None)

Tuples can be packed and unpacked with a convenient syntax. The number of variables used to unpack the tuple must match the number of elements in the tuple.

In [ ]:
t = 2, 3, 4 # tuple packing
print('t is', t)
x, y, z = t # tuple unpacking
print('x is', x)
print('y is', y)
print('z is', z)

t is (2, 3, 4)
x is 2
y is 3
z is 4

In [ ]:
a = [5, 8, 19]
b = ["AGC"]
c = []

print(a)
print(b)
print(c)

[5, 8, 19]
['AGC']
[]

Lists and tuples can contain other list and tuples, or any other type of collection:

In [ ]:
matrix = [[1, 0], [0, 2]]
print(matrix)

[[1, 0], [0, 2]]

The tuple and list functions allow you to convert tuples to lists. Note that this generate a new collection with the same contents while leaving the original unchanged.

In [ ]:
a = (1, 4, 9, 16)     # A tuple of numbers
b = ['G','C','A','T'] # A list of characters

print(a)
print(b)

l = list(a)   # Make a list based on a tuple
print(l)

t = tuple(b)  # Make a tuple based on a list
print(t)

(1, 4, 9, 16)
['G', 'C', 'A', 'T']
[1, 4, 9, 16]
('G', 'C', 'A', 'T')

**Manipulating tuples and lists** <br>
Once your data is in a list or tuple, Python provides a variety of methods for accessing and manipulating the list, such as sorting it. <br>

Tuples and lists can generally be used in very similar ways.

In [ ]:
x = (10, 45, 589, 232) # tuple

print('x is', x)
print('x[0] is', x[0])
print('x[2] is', x[2])

x is (10, 45, 589, 232)
x[0] is 10
x[2] is 589
y is [10, 45, 589, 232]
y[-1] is 232

.split() is the counterpart to the .join() method that lets you join the elements of a list into a string only if all the elements are of type String:

In [ ]:
seq = "ATG TCA CCG GGC"
codons = seq.split(" ")
print(codons)
print("|".join(codons))

['ATG', 'TCA', 'CCG', 'GGC']
ATG|TCA|CCG|GGC

#**Sets and dictionaries**

**Sets**
* Sets contain unique elements, i.e. no repeats are allowed <br>
* The elements in a set do not have an order <br>
* Sets cannot contain elements which can be internally modified (e.g. lists and dictionaries)

In [ ]:
k = [1, 2, 1, 4, 2, 3, 5] # list of 5 values
m = set(k) # set of 5 unique values
print(m)
e = set() # empty set
print(e)

{1, 2, 3, 4, 5}
set()

Sets are quite similar to lists and tuples, and you can use many of the same operators and functions, but they are fundamentally unordered, so they don't have an index, and can only contain unique values, thus adding a value already in the set will have no effect.

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

In [ ]:
#You can remove specific elements from the set.

s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

**Dictionaries**<br>
Although lists are helpful in many situations, we frequently have data that isn't inherently ordered and that we would prefer to reach using a helpful name rather than an index. For instance, we might have a collection of genes and their corresponding expression values as a result of an experiment. A list of the expression values could be created, but it would become difficult to recall which index in the list matched which gene. <br>

For these situations a dictionary is a very useful data structure. <br>

Dictionaries:<br>

* Contain a mapping of keys to values (like a word and its corresponding definition in a dictionary)<br>
* The keys of a dictionary are unique, i.e. they cannot repeat<br>
* The values of a dictionary can be of any data type<br>
* The keys of a dictionary cannot be an internally modifiable type (e.g. lists, but you can use tuples)<br>
* Dictionaries do not store data in any particular order<br>

In [ ]:
nucleotides = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print(nucleotides)

{'A': 'Adenine', 'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine'}

In [ ]:
#You can access values in a dictionary using the key inside square brackets

nucleotides = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
print("A represents", nucleotides["A"])
print("G represents", nucleotides["G"])

A represents Adenine
G represents Guanine

In [ ]:
#An error is triggered if a key is absent from the dictionary:

nucleotides = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
#print("What about N?", nucleotides["N"])

In [ ]:
# length of a dictionary
print(len(nucleotides))

4

In [ ]:
#You can introduce new entries in the dictionary by assigning a value with a new key:

nucleotides = {"A": "Adenine", "C": "Cytosine", "G": "Guanine", "T": "Thymine"}
nucleotides['Y'] = 'Pyrimidine'
print(nucleotides)

{'A': 'Adenine', 'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine', 'Y': 'Pyrimidine'}

In [ ]:
#You can delete entries from the dictionary:

nucleotides = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
del nucleotides['Y']
print(nucleotides)

{'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine'}

In [ ]:
#You can get a list of all the keys (in arbitrary order) using the inbuilt .keys() function

nucleotides = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
print(list(nucleotides.keys()))

['A', 'C', 'T', 'G', 'Y']

In [ ]:
#And equivalently get a list of the values:

nucleotides = {'A': 'Adenine', 'C': 'Cytosine', 'T': 'Thymine', 'G': 'Guanine', 'Y': 'Pyrimidine'}
print(list(nucleotides.values()))

['Adenine', 'Cytosine', 'Thymine', 'Guanine', 'Pyrimidine']

#**Conditonal Statements in python**

**If condition**

In [ ]:
#if true_or_not:
    #do_this_if_true

In [ ]:
num= 2
if num > 0:
  print(num, " is a positive number")
print("This is always printed")

2  is a positive number
This is always printed

**if-else condition**

In [ ]:
"""if true_or_false_condition:
    perform_if_condition_true
else:
    perform_if_condition_false"""

In [ ]:
num= -1
if num > 0:
  print(num, " is a positive number")
else:
  print(num, " is a negative number")
print("This is always printed")

-1  is a negative number
This is always printed

**Nested if-else statements**

In [ ]:
"""if the_weather_is_good:
    if nice_restaurant_is_found:
        have_lunch()
    else:
        eat_a_sandwich()
else:
    if tickets_are_available:
        go_to_the_theater()
    else:
        go_shopping()"""

**The elif statement
The second special case introduces another new Python keyword: elif. As you probably suspect, it's a shorter form of else if.**

elif is used to check more than just one condition, and to stop when the first statement which is true is found.

In [ ]:
"""if the_weather_is_good:
    go_for_a_walk()
elif tickets_are_available:
    go_to_the_theater()
elif table_is_available:
    go_for_lunch()
else:
    play_chess_at_home()"""

#**Loops**

**Loops**<br>
When an operation must be done numerous times, such as on all of the items in a list, we use a loop to avoid typing (or copying and pasting) repetitive code. Python has two looping constructs: the for loop and the while loop.

**For Loop**<br>
The for loop in Python iterates through each item in a sequence (such as a list or tuple) in the order in which they appear. This indicates that a variable (code in the following example) is assigned to each item in the sequence of values in turn, and the indented block of code is run again.

In [ ]:
codeList = ['NA07896', 'NA07897', 'NA07898', 'NA07899', 'NA07990']

In [ ]:
for x in codeList:
    print(x)

In [ ]:
#A for loop can iterate over the individual characters in a string:

dnaSequence = 'ATGGTGTTCAGTTTA'

for base in dnaSequence:
    print(base)

In [ ]:
#The range() method with a for loop can be used to iterate over a numeric sequence.
for a in range(4):
    print(a*a)

**While Loop**<br>
In addition to the for loop, which operates on a list of objects, there is a while loop, which simply repeats while some assertion is True and stops when it is False. Note that if the tested expression never evaluates to False, you will have a "infinite loop," which is undesirable.

In [ ]:
number = 2
while number < 10:
    number = number * 2
    print(number)

print("final number:", number)

**Breaking/Skipping the loop**<br>Python has two methods for controlling the flow of the for or while loop within the block. The continue statement indicates that the remaining code in the block is skipped for this specific item in the collection, i.e., jump to the next iteration. In this example, negative values are left out of a sum.

In [ ]:
values = [10, -5, 3, -1, 7]

total = 0
for v in values:
    if v < 0:
        continue # Skip this iteration
    total += v

print(total)

**String Formatting**<br>
Python's built-in  .format() function uses "replacement fields" wrapped by curly braces {}, beginning with an optional field name, followed by a colon, and ending with a format specification. <br>

There are lots of these specifiers, but here are 3 useful ones:<br>

d: decimal integer<br>
f: floating point number<br>
s: string<br>

You can specify the amount of decimal points to use in a floating point value, for as.2f for two decimal places or +.2f to use two decimal places while always displaying the associated symbol.

In [ ]:
print('{:.2f}'.format(0.64389))